##################################################
# Section 1
# This section should only contain the catchall rule
##################################################
*     @snowflakedb/ProdSec-Assurance

##################################################
# Section 2
# This section contains all rules except for the catchall rule.
# Please order the rules in sorted lexicographical order.
##################################################
