name: Reusable workflow for PRs

on:
  workflow_call:
   secrets:
     token:
       required: true

permissions:
  contents: read
 
jobs:
  semgrep:
    name: Scan
    runs-on: ubuntu-22.04
    if: (github.actor != 'dependabot[bot]' && !contains(github.event.pull_request.title, 'PR Canary'))
    steps:
      - name: Semgrep Placeholder
        run: echo "Semgrep Placeholder"
